@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-primary: #1dafa1;
  --color-secondary: #0000ff;

  --text-medium: 0.85rem;
  --text-small: 0.8rem;
  --text-smaller: 0.74rem;
  --text-smallest: 0.72rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: var(--font-sans);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}

.input-shadow {
  box-shadow: 0 0.1em 1px rgba(255, 255, 255, 0.838),
    inset 1px 1px rgb(215, 214, 209);
}
.button-shadow {
  box-shadow: inset 0px 0.03em 0.05em rgba(255, 255, 255, 0.55);
}
.button-shadow2 {
  box-shadow: 0 0.05em 1px rgba(96, 96, 96, 0.05),
    inset 0px -0.1em 0.1em rgba(255, 255, 255, 1),
    inset 0.1em 0.1em rgba(255, 255, 255, 1);
}

@layer components {
  .max-width {
    @apply xl:max-w-400 xl:mx-auto;
  }
  button {
    @apply cursor-pointer;
  }
  .custom-flex {
    @apply flex items-center justify-between;
  }
  .input-style {
    @apply text-small placeholder:text-smaller placeholder:text-[#5b5b5b] p-2 px-3 rounded-[11px] bg-[#E4E0DD] border-[0.1em];
  }
  .btn-style {
    @apply w-full py-2 bg-primary border-[#27ac9f] flex gap-2 justify-center border-[0.1em] rounded-[11px];
  }
  .btn-style2 {
    @apply flex justify-center gap-2 py-2 w-full border-[0.1em] border-[#dcdcdc] rounded-[11px];
  }
  .plain-flex {
    @apply flex items-center;
  }
}
