@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-primary: #1dafa1;
  --color-secondary: #0000ff;

  --text-medium: 0.85rem;
  --text-small: 0.8rem;
  --text-smaller: 0.74rem;
  --text-smallest: 0.72rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: var(--font-sans);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}

@layer components {
  .max-width {
    @apply xl:max-w-400 xl:mx-auto;
  }
  button {
    @apply cursor-pointer;
  }
  .custom-flex {
    @apply flex items-center justify-between;
  }
  .plain-flex {
    @apply flex items-center;
  }
}
